
body {
  background-color: #212121;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 60px
}


#logo {
    margin-top: 57px;
}

.load {
  height: 200px
}
.content {
    margin-bottom: 100px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    background-color: #212121;
    width: 100%;
    top: 0
}

.chat {
    color: white
}

.formInput {
  color: black
}

.App {
  text-align: center;
}

.App-header {
  background-color: #212121;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  background-color: #212121;
  color: white
}

/* start of styling for login button */
.btn-primary {
    color: #fff;
    background-color: #2ebd59;
    border-color: #29a84f;
}

.btn {
    font-size: 18px;
    line-height: 1.5;
    border-radius: 500px;
    padding: 12px 47px 8px;
    -webkit-transition: background-color .15s ease, border-color .15s ease, color .15s ease;
    -o-transition: background-color .15s ease, border-color .15s ease, color .15s ease;
    transition: background-color .15s ease, border-color .15s ease, color .15s ease;
    border-width: 0;
    letter-spacing: 1.2px;
    min-width: 130px;
    text-transform: uppercase;
    white-space: normal
}

.btn {
    height: 50px;
    width: 350px;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

.btn-primary:focus,
.btn-primary:hover{
    color: #fff;
    background-color: #1ed760
}

.btn-primary {
    background-image: url('/img/Spotify_Icon_RGB_White.png'); /* 16px x 16px */
    background-size: 30px;
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 20px 10px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 50px;           /* make this the size of your image */
    width: 350px;
    padding-left: 80px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}

.btn-primary a {
    text-decoration: none;
    color: white
}

/* end of styling for login button */

.dashboard {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    flex-flow: column wrap
}

.btn-dashboard {
    margin: 30px 0 30px 0
}

.btn-match {
    margin-top: 10px;
    width: 250px
}

.whoami {
    display: flex;
    align-items: center;
    justify-content: center
}

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: fixed;
    background-color: #212121;
    padding-bottom: 10px
}

.profile {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    flex-flow: column wrap
}

.matches {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.match {
    display: flex;
    flex-flow: row
}
